
.virtual-joystick {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    background-color: #7a8b94;
}

.stick, .stick-base {
    position: absolute;
    width: 100%;
    height: 100%;
}

.stick-base > svg {
    width: 100%;
    height: 100%;
}